body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.editor-block {
  background-color: #121212;
  padding: 1rem;
  border-radius: 10px;
  color: #eee;
}

.editor-container {
  border: 1px solid #333;
  padding: 1rem;
  min-height: 200px;
  background-color: #1e1e1e;
  color: #eee;
  border-radius: 4px;
}
